---
html_class: page-home
layout: default
title: PADCDI - Philippine Association for Digital Commerce and Decentralized Industries
description: Philippine Association for Digital Commerce and Decentralized Industries
---

<!-- START: SECTION HERO -->
<section class="section section-hero">
    <div class="particles" id="particles" data-do="particles"></div>
    <div class="container hero">
        <div class="row">
            <div class="offset-lg-1 col-lg-5 left">
                <img class="big-logo" src="/assets/images/big-logo.png" alt="PADCDI Logo" />
            </div>
            <div class="col-lg-5 right">
                <h1>PADCDI is the association of leaders promoting blockchain innovations in the Philippines.</h1>
                <a class="btn btn-yellow btn-primary" href="#contact">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- END: SECTION HERO -->

<!-- START: SECTION BULLETS -->
<section class="section section-bullets">
    <!-- card section -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="flaticon-023-flask"></i>
                        </div>
                        <h2>Promote Innovation</h2>
                        <p>PADCDI members work together to transform and build a more innovative and progressive ecosystem for everyone.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <img class="seal-white" src="/assets/images/logo-white.png" alt="PADCDI" />
                        </div>
                        <h2>Become a Leader</h2>
                        <p>Lead change in the Philippines among organizations with similar interests and initiatives for the country.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="flaticon-012-cube"></i>
                        </div>
                        <h2>Industry Connections</h2>
                        <p>Cooperate and connect with successful organizations that are building the digital ecosystem of the Philippines.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card section end-->
</section>
<!-- END: SECTION BULLETS -->

<!-- START: SECTION MEMBERSHIP -->
<section class="section section-membership">
    <div class="container">
        <div class="section-title">
            <h2>Work with us to move the <span>Philippines</span> forward</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Membership is open to any organizations that seek to promote digital commerce, distributed technologies, and innovation within the Philippines. Our members support, cooperate, and contribute to the progress of mutual initiatives and the goals of PADCDI.</p>
            </div>
            <div class="col-md-6">
                <p>Our members are bound by a Code of Conduct to ensure the integrity and sustainability of the digital commerce and distributed technologies ecosystems within the Philippines. By regulating our own members, PADCDI members maintain a stronger and more preferable identity among competing organizations and jurisdictions.</p>
            </div>
        </div>
        <div class="member-carousel owl-carousel" data-do="owl-carousel" data-items="1|1|1|1">
            {% for item in site.members %}
                {% if item.name %}
                    <div class="company-item">
                        <a class="company-logo" href="{{ item.site }}" target="_blank">
                            <img src="{{ item.logo }}" />
                        </a>
                        <p class="company-description">
                            {{ item.summary }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="text-center mt-5">
            <a href="/membership" class="btn btn-yellow btn-primary">Learn More About Membership</a>
        </div>
    </div>
</section>
<!-- EMD: SECTION MEMBERSHIP -->

<!-- START: SECTION ARTICLES -->
<section class="section section-articles">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/images/map.png" />
            </div>
            <div class="col-md-8">
                <div class="section-title left">
                    <h2>Latest News</h2>
                </div>
                <div class="owl-carousel" data-do="owl-carousel">
                    {% for post in site.posts %}
                        <div class="article-item">
                            <a
                                class="article-image"
                                href="{{ post.url }}"
                                target="_blank"
                            >
                                <img src="{{ post.image }}" />
                            </a>
                            <h3 class="article-title">
                                <a
                                    href="{{ post.url }}"
                                    target="_blank"
                                >
                                    {{ post.title }}
                                </a>
                            </h3>
                            <em class="article-published">{{ post.published | date: '%B %d, %Y' }}</em>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: SECTION ARTICLES -->

<!-- START: SECTION MEMBERSHIP -->
<section class="section section-committees">
    <div class="container">
        <div class="section-title">
            <h2>Paticipate in a <span>committee</span> and join the movement</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-sm-12">
                <div class="committee-item">
                    <div class="icon">
                        <i class="fas fa-balance-scale"></i>
                    </div>
                    <div class="committee-info">
                        <h2>Governance</h2>
                        <p>Work with the code of conduct and the governing rules of the association.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-sm-12">
                <div class="committee-item">
                    <div class="icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="committee-info">
                        <h2>Compliance</h2>
                        <p>Work on reviewing projects dealing with crypto exchanges, token sales and other technologies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-sm-12">
                <div class="committee-item">
                    <div class="icon">
                        <i class="fas fa-university"></i>
                    </div>
                    <div class="committee-info">
                        <h2>Regulatory</h2>
                        <p>Work with government, developing regulations around blockchain technologies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-sm-12">
                <div class="committee-item">
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="committee-info">
                        <h2>Education</h2>
                        <p>Help with programs designed to educate companies, government and universities.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-sm-12">
                <div class="committee-item">
                    <div class="icon">
                        <i class="fas fa-bullhorn"></i>
                    </div>
                    <div class="committee-info">
                        <h2>Marketing</h2>
                        <p>Help with strategies to promote blockchain technologies, in order to help position Philippines as a leader.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-sm-12">
                <div class="committee-item">
                    <div class="icon">
                        <i class="fas fa-flask"></i>
                    </div>
                    <div class="committee-info">
                        <h2>Technology</h2>
                        <p>Work on developments regarding committee, and organizing through automations.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
