
<!-- Promotion section -->
<div class="promotion-section" id="apply">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Ready to join the Association?</h2>
                <p>Click here to fill out a membership form, and a representative will contact you.</p>
            </div>
            <div class="col-md-3">
                <div class="promo-btn-area">
                    <a href="" class="site-btn btn-2">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Promotion section end-->

<!-- Contact section -->
<div class="contact-section spad fix">
    <div class="container">
        <div class="row">
            <!-- contact info -->
            <div class="col-md-5 col-md-offset-1 contact-info col-push">
                <div class="section-title left">
                    <h2>Contact Us</h2>
                </div>
                <p>Have questions or ideas for PADCDI?<br>Contact us here.</p>
                <h3 class="mt60">Main Office</h3>
                <p class="con-item">C/ Libertad, 34 <br> 05200 Arévalo </p>
                <p class="con-item">+63 02 123 4567</p>
                <p class="con-item">hello@company.com</p>
            </div>
            <!-- contact form -->
            <div class="col-md-6 col-pull">
                <form class="form-class" id="con_form">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="name" placeholder="Your name">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="email" placeholder="Your email">
                        </div>
                        <div class="col-sm-12">
                            <input type="text" name="subject" placeholder="Subject">
                            <textarea name="message" placeholder="Message"></textarea>
                            <button class="site-btn">send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end-->
