<!-- START: SECTION PROMOTION -->
<section class="section section-promotion">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Ready to join the Association?</h2>
                <p>Click here to fill out a membership form, and a representative will contact you.</p>
            </div>
            <div class="col-lg-3">
                <a href="http://bit.ly/letspadcdi" target="_blank" class="btn btn-yellow btn-primary">Sign Up Now</a>
            </div>
        </div>
    </div>
</section>
<!-- END: SECTION PROMOTION -->

<!-- START: SECTION CONTACT -->
<section id="contact" class="section section-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-title left">
                    <h2>Contact Us</h2>
                </div>
                <p>Have questions or ideas for PADCDI?<br>Contact us here.</p>
                <h3 class="mt60">OR BY EMAIL</h3>
                <p class="con-item">hello@padcdi.org.ph</p>
            </div>
            <div class="col-md-7">
                <form
                    class="form-class"
                    action="https://docs.google.com/forms/d/e/1FAIpQLSdNNT7R09IRsfvktlisiYbUWOQYPLRRjWDZSGKR0D1xXnGjzw/formResponse"
                    id="contact-form"
                    method="get"
                    target="gdocs-frame"
                >
                    <div class="row">
                        <div class="col-sm-6">
                            <input
                                autocomplete="name"
                                class="resetable"
                                name="entry.2077891887"
                                placeholder="Your Name"
                                type="text"
                            />
                        </div>
                        <div class="col-sm-6">
                            <input
                                autocomplete="email"
                                class="resetable"
                                name="entry.763804488"
                                placeholder="Your Email"
                                type="text"
                            />
                        </div>
                        <div class="col-sm-12">
                            <input
                                autocomplete="subject"
                                class="resetable"
                                name="entry.1619716355"
                                placeholder="Subject"
                                type="text"
                            />
                            <textarea
                                class="form-control resetable"
                                name="entry.1800779259"
                                placeholder="Message"
                            ></textarea>
                            <input type="hidden" name="fvv" value="1" />
                            <input type="hidden" name="pageHistory" value="0" />
                            <input type="hidden" name="fbzx" value="6580539988320685329" />
                            <input type="hidden" name="draftResponse" value='[null,null,"6580539988320685329"]' />
                            <button type="submit" class="btn btn-yellow btn-primary">send</button>
                            <span class="help-text"></span>
                        </div>
                    </div>
                </form>

                <iframe id="gdocs-frame" name="gdocs-frame" style="display:none;"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end-->

<div class="sitemap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 left">
                <a class="logo" href="/">
                    <img height="70" src="/assets/images/logo-light-gray.png" />
                </a>
                <h6>
                    Philippine Association <br />
                    for Digital Commerce <br />
                    and Decentralized Industries
                </h6>
                <div class="social">
                    <a href="https://www.facebook.com/PADCDI-208418109741866/" rel="nofollow" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="http://t.me/padcdi" rel="nofollow" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="https://www.instagram.com/padcdi/" rel="nofollow" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 right">
                <a href="/" title="PADCI Home Page">Home</a>
                <a href="/about-padcdi" title="About PADCDI">About PADCDI</a>
                <a href="/membership" title="PADCDI Membership">Membership</a>
            </div>
            <div class="col-md-4 right">
            </div>
        </div>
    </div>
</div>
<div class="masthead">
    2018 All Rights Reserved. PADCDI.
</div>
