<div class="container">
    <nav class="row">
        <div class="col-md-4 left">
            <a href="/" title="Add Some SEO Here">
                <img alt="PADCDI White" height="70" src="./images/logo-white.png" />
            </a>
            <div class="copywrite">&copy; 2018-2019 All Rights Reserved</div>
            <div class="social">
                <a href="#" rel="nofollow" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" rel="nofollow" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" rel="nofollow" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
                <a href="#" rel="nofollow" target="_blank">
                    <i class="fab fa-viber"></i>
                </a>
            </div>
            <form method="post">
                <div class="input-group mb-3">
                    <input class="form-control" placeholder="Email" type="text" />
                    <div class="input-group-append">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <a href="#" title="Add Some SEO Here">Home</a>
            <a href="#" title="Add Some SEO Here">About Us</a>
            <a href="#" title="Add Some SEO Here">Membership</a>
            <a href="#" title="Add Some SEO Here">Program</a>
            <a href="#" title="Add Some SEO Here">Contact Us</a>
        </div>
    </nav>
</div>
