<div class="container">
    <nav class="row">
        <div class="col-md-5 left">
            <a class="logo" href="/" title="Add Some SEO Here">
                <img alt="PADCDI White" height="70" src="./images/logo-white.png" />
            </a>
            <h2>
                Philippine Association <br />
                for Digital Commerce <br />
                and Decentralized Industries
            </h2>
            <div class="social">
                <a href="#" rel="nofollow" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" rel="nofollow" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>
        <div class="right col-md-7">
            <a href="#" title="Add Some SEO Here">Home</a>
            <a href="#" title="Add Some SEO Here">About Us</a>
            <a href="#" title="Add Some SEO Here">Membership</a>
            <a href="#" title="Add Some SEO Here">Program</a>
            <a href="#" title="Add Some SEO Here">Contact Us</a>
        </div>
    </nav>
</div>
<div class="masthead">
    <center>&copy; 2018-2019 All Rights Reserved</center>
</div>
