<div class="container">
    <img class="logo" alt="PADCDI Logo" height="100" src="./images/logo.png" />
    <nav class="float-right nav-main">
        <a href="#" title="Add Some SEO Here">Home</a>
        <a href="#" title="Add Some SEO Here">About Us</a>
        <a href="#" title="Add Some SEO Here">Membership</a>
        <a href="#" title="Add Some SEO Here">Program</a>
        <a href="#" title="Add Some SEO Here">Contact Us</a>
    </nav>
    <h2>
        Philippine Association <br />
        for Digital Commerce <br />
        and Decentralized Industries
    </h2>
</div>
