<div class="float-right right-menu">
    <!-- Navigation -->
    <div data-do="burger" data-on="click" class="responsive">
        <i class="fa fa-bars"></i>
    </div>
    <nav>
        <ul class="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about-padcdi">About Us</a></li>
            <li><a href="/membership">Membership</a></li>
        </ul>
    </nav>
</div>
<div class="logo">
    <a href="/">
        <img src="/assets/images/logo.png" alt="PADCDI" />
        <span>
            Philippine Association <br />
            for Digital Commerce <br />
            and Decentralized Industries
        </span>
    </a>
</div>
