.header-section .logo img {
    width: 50px;
}

.hero-half {
    height: 50%;
    overflow: hidden;
}

.hero-half .big-logo {
    width: 225px;
}

.hero-half p {
    text-align: left;
    font-size: 16px;
}

/* Page - Home
------------------------------*/
.news-section {
    /*padding-top: 320px;*/
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.news-overlay {
    position: absolute;
    background-image: url("/images/map.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    bottom: 100px;
    height: 100%;
    left: 50px;
}

.news > a {
    background-color: #FFFFFF;
    display: block;
    height: 150px;
    line-height: 150px;
    overflow: hidden;
}

.news span {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #fff;
}

.news p {
    font-style: italic;
    color: #fff;
    font-weight: 400;
    line-height: 36px;
}

.news .news-info {
    margin-top: 40px;
}

.news .news-title h2 a {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

/* Page - Post
------------------------------*/
article.post {
    font-size: 15px;
    line-height: 24px;
    margin: auto;
    max-width: 800px;
}

article.post h1 {
    font-size: 21px;
    margin: 20px 0;
}

/* Page - About
------------------------------*/
.page-about {
    line-height: 24px;
    font-weight: 300;
}

.page-about .container > .row {
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0 0;
}

.page-about h2 {
    font-size: 19px;
    font-weight: 200;
    text-align: right;
}

.page-about h4 {
    font-size: 18px;
    font-weight: 200;
    color: #999999;
    margin: 14px 0;
}

.page-about .profile {
    margin-top: 40px;
}

.page-about .profile img {
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 100px;
}

.page-about .profile-info {
    padding-left: 120px;
}

@media(max-width: 992px) {
    .page-about h2 {
        margin-bottom: 20px;
        text-align: left;
    }
}

/* Page - Membership
------------------------------*/
.membership-section a {
    display: inline-block;
    margin: 5px 5px 20px;
}

.membership-section img {
    border: 1px solid #CCCCCC;
    padding: 5px;
}

/* Page - Contact Us
------------------------------*/
.page-contact {
    font-weight: 300;
}

.page-contact .container {
    max-width: 800px;
}

.page-contact .container p {
    margin-top: 20px;
}
